<html>
<body>
<h1>Provide payment card details</h1>
<p>
  Payment: {{ amount }} {{ currency}}
    </br>
  Order ID: {{ order_id }}
</p>

<form id="checkout-form" class="form-horizontal" action="{% url 'receipt' %}" method="GET">
  {% csrf_token %}

    <label for="name">Name</label>
  <input type="text" name="name" value="">

  <label for="address">Address</label>
  <input type="text" name="address" value="">

  <label for="zipcode">Zipcode</label>
  <input type="text" name="zipcode" value="">

  <labe for="city">City</label>
  <input type="text" name="city" value="">

  <label>Card number</label>
  <div class="card">
    <div class="card-brand"></div>
    <input type="text" autocomplete="off" data-quickpay="cardnumber">
  </div>

  <label>Expiration</label>
  <input type="text" placeholder="MM / YY" autocomplete="off" data-quickpay="expiration">

  <label>CVV/CVD</label>
  <input type="text" maxlength="4" autocomplete="off" data-quickpay="cvd">

  <button class="btn btn-primary" type="submit">Pay</button>
</form>

<style type="text/css">
  .card {
    position: relative;
  }

  .card-brand {
    position: absolute;
    right: 5px;
    top: 5px;
    font-weight: bold;
  }

  input.error {
    border: 1px solid red;
  }
</style>

<script src="https://payment.quickpay.net/embedded/v2/quickpay.js"></script>
<script type="text/javascript">
  QuickPay.Embedded.Form(document.querySelector('#checkout-form'), {
    merchant_id: {{ merchant_id }},
    agreement_id: {{ agreement_id }},
    brandChanged: function(brand) {
      document.querySelector(".card-brand").innerHTML = brand;
    },
    beforeCreate: function(form) {
      var button = document.querySelector("#checkout-form button");
      button.setAttribute("disabled", "disabled");
      button.innerHTML = "Please wait...";

      var inputs = document.querySelectorAll("input.error");
      for (var i = 0; i < inputs.length; i++) {
        inputs[i].classList.remove("error");
      }
    },
    success: function(form, data) {
      // Now that we have a token we can do the payment

      console.log(form);
      console.log(data);

      // Grab the url for performing a pyment
      var url = "{% url 'quickpay:perform_card_payment' %}"


      // Create the handler to do a post
      var xhr = new XMLHttpRequest();
      // xhr.onreadystatechange = function() {
        // if (xhr.readyState == XMLHttpRequest.DONE) {
          // alert(xhr.responseText);
        // }
      // }
      xhr.open('POST', url, true);

      // Hacky way to get the CSRF token from the form
      xhr.setRequestHeader('X-CSRFToken', document.forms[0].querySelector('input').value);

      // Do the post to the server
      xhr.send(JSON.stringify({"card_token": data.token})).then(res => {
        return true // Return false to prevent form submit
      });

    },
    failure: function(form, type, message, data) {
      switch (type) {
        case "validation":
          for (var i = 0; i < data.length; i++) {
            document.querySelector('input[data-quickpay=' + data[i] + ']').classList.add('error');
          }
          break;
        default:
          alert(type + ': ' + message);
      }

      document.querySelector("#checkout-form button").innerHTML = "Pay";
    }
  });
</script>

</body>
</html>
